@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Underdog&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', cursive;
    text-align: center;
}

body {
    background-attachment: fixed;
    background: linear-gradient(#c2e59c 100%, #64b3f4 100%);
}

header {
    height: 100px;
    line-height: 100px;
    background-color: #ffffff;
    position: relative;
}

header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
}

header h1 {
    text-align: center;
    color: #000000;
    margin-left: 10px;
    font-family: 'Great Vibes', 'cursive';
    font-size: 3em;
}

main,
footer {
    width: 900px;
    margin: 3em auto;
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 5px 5px 10px 2px #222;
}

main article {
    padding: 2em;
}

main section h2 {
    border-bottom: 1px dashed #222;
    width: 700px;
    margin-left: 1em;
    margin-right: auto;
    padding-top: 2em;
    font-size: 2.5em;
}

main article h3 {
    margin-bottom: 1em;
    font-size: 1.5em;
}

main article p {
    letter-spacing: 2px;
    line-height: 28px;
    padding: 10px 2px;
    font-size: 1.1em;
}

main article ul,
main article ol {
    line-height: 28px;
    font-size: 1.5em;
    padding: 20px 40px;
}

main article img {
    display: block;
    width: 555px;
    margin: 0 auto;
    padding: 5px;
    border: 2px dotted rgba(84, 1, 119, 1);
}

em,
strong {
    color: rgba(202, 0, 0, 0.897);
    font-size: 1.2em;
}

iframe {
    display: block;
    margin: 1em auto;
    border-radius: 1em;
    box-shadow: 5px 5px 10px 2px #222;
}

main section:nth-child(3) article p {
    text-align: center;
    font-size: 3em;
    line-height: 1.5em;
    color: transparent;
    background: linear-gradient(to bottom, #666, #fff);
    -webkit-background-clip: text;
    background-clip: text;
}

footer p {
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
}
a{
    color: rgb(118, 187, 49);
}
.z{
    text-align: left;
}
.bron {
    position: fixed !important;
    bottom: 10px !important;
    right: 8px !important;
    z-index: 10 !important;
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #007828 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(0, 40, 120, .35);
    transition: .5s;
}
